<div class="sign_in_button_container">
	<a href="/auth/signin" class="btn btn-primary btn-large mr-2" style="background-color: #3e468f;border:none;">Sign in with Microsoft</a>
	<a href="{{googleUrl}}" class="btn btn-primary btn-large ml-2" style="background-color: #1a73e8; border:none;">Sign in with Google</a>
</div>
